* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
body {
  margin: 20px;
  background-color: #f5f5f5;
}

/* body */
.invoice-body {
  width: 952px;
  height: 1189;
  margin: auto;
  background: #fff;
  padding: 20px;
}
/* header */
.header {
  display: flex;
}
.logo {
  margin-right: 9px;
}
.header-text p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.heading {
  text-align: center;
  font-family: "Inter";
  font-style: normal;

  color: #111827;
}
.heading h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 137.5%;
  margin-bottom: 16px;
}
.heading p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;

  text-align: center;

  color: #111827;
}
/* retain-body */
.retain-body {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.retain-left {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #111827;
}
.retain-right > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}
.retain-box {
  display: flex;
  border: 1px solid #6b7280;
  justify-content: space-between;
}
.retain-box p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.retain-box-left {
  margin-right: 20px;
}
.retain-box-right {
  margin-right: 20px;
  border-left: 1px solid #6b7280;
}

/* invoice-address */
.invoice-address {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.address-left {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.address-right {
  text-align: center;
}
.address-right h6 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #111827;
}
.address-right p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: #111827;
}

/* customer-info */
.customer-info {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.c-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111827;
}
.c-cash {
  display: flex;
}
.c-cash p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111827;
}
.c-cash span {
  padding-left: 20px;
  border: 1px solid #6b7280;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #111827;
}
/* transaction-summary */
.transaction-summary {
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
}
.t-summary-left > p {
  margin-bottom: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #111827;
}
.t-summary-right > p {
  margin-bottom: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #111827;
}
.t-summary-box-left {
  border: 1px solid #6b7280;
  border-left: 0;
}
.t-summary-box-right {
  border: 1px solid #6b7280;
  border-right: 0;
}
.t-summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  margin: 7px 0;
  margin-right: 10px;
}
.t-summary p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.plus {
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-size: 14px;
  color: #111827;
  margin: 9px 0;
}
/* reg-no */
.reg-no {
  display: flex;
  padding: 10px 0;
}
.reg-no > p {
  margin-left: 30%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: right;
  color: #111827;
}
.reg-no-1 {
  display: flex;
  padding: 10px 0;
}
.reg-no-1 > p {
  margin-left: 35%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: right;
  color: #111827;
}
/* past-volume */
.past-volume {
  display: flex;
  justify-content: space-around;
  border: 1px solid #6b7280;
}
.past-volume p {
  border-left: 1px solid #6b7280;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.past-volume p:nth-child(1) {
  border: 0;
  margin-left: -70px;
}
.past-volume-2 {
  margin: 2px 0;
  display: flex;
  justify-content: space-around;
  border: 1px solid #6b7280;
}
.past-volume-2 p {
  border-left: 1px solid #6b7280;
  padding: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.past-volume-2 p:nth-child(1) {
  border: 0;
  margin-left: -15px;
}

.current-transactions p {
  margin: 10px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #111827;
}
.current-transactions-box {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.total-box {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  grid-gap: 13px;
}
.total-box p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    margin: 5px 0;
    color: #111827;
}
.last{
   margin-right: -80px !important;
    border-bottom: 1px solid black;
 
}
